basePath: /api
definitions:
  api.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  api.RegisterRequest:
    properties:
      email:
        type: string
      password:
        minLength: 6
        type: string
      username:
        description: TODO:add character limitation
        type: string
    required:
    - password
    - username
    type: object
  api.Response:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
  service.LoginResponseDTO:
    properties:
      nickname:
        type: string
      token:
        type: string
      username:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: 这是一个 Go 语言开发的即时通讯系统后端 API 文档
  title: GoChat API
  version: "1.0"
paths:
  /user/login:
    post:
      consumes:
      - application/json
      description: 用户通过账号密码登录
      parameters:
      - description: 登录参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/api.Response'
            - properties:
                data:
                  $ref: '#/definitions/service.LoginResponseDTO'
              type: object
      summary: 用户登录
      tags:
      - 用户模块
  /user/register:
    post:
      consumes:
      - application/json
      description: 用户通过账号密码注册
      parameters:
      - description: 注册参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.Response'
      summary: 用户注册
      tags:
      - 用户模块
swagger: "2.0"
